.mobile {
  display: none;
}

.desktop {
  display: flex;
}

.about-img {
  max-height: 450px;
  float: left;
}
.about-container {
  min-height: 450px;
}

.proj-container {
  width: 33%;
}

.navlink-container {
  align-items: center;
  padding: 16px;
  gap: 32px;
}

@media (hover: hover) {
  .hidden-text:hover {
    color: inherit;
  }
}

@media only screen and (max-width: 820px) {
  :root {
    --nav-padding: 40px;
  }
  .proj-container {
    width: 90%;
  }
  .about-container {
    min-height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-img {
    max-height: 380px;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .bar-container {
    width: 100%;
  }
  nav {
    flex-direction: column;
  }
  .navlink-container {
    flex-direction: column;
    width: 100%;
    padding: 16px 0;
    gap: 16px;
  }
}
