nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  transition: all 0.4s ease-in-out;
  top: 0;
  z-index: 100;
}

/* Unscrolled */
.nav {
  color: black;
  padding: 20px var(--nav-padding);
}

.nav-scrolled {
  background-color: #fff;
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
  padding: 12px var(--nav-padding);
}
