.hidden-text {
  color: transparent;
  transition: color 0.25s ease-in-out;
}

.hidden-text::selection {
  color: white;
  background-color: var(--accent);
}

.hidden-text:focus-visible {
  color: inherit;
}
