:root {
  --nav-padding: 80px;
  --accent: var(--aui-link-color);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  overscroll-behavior: none;
}

section {
  padding: var(--nav-padding) var(--nav-padding) 0 var(--nav-padding);
}

.bg-accent {
  background-color: var(--accent);
}

.accent-hover {
  transition: color var(--aui-default-transition);
}

.white {
  color: white;
}

.blur {
  backdrop-filter: blur(4px);
}

.bordering {
  border: 2px solid orange;
}
