:root {
  --nav-padding: 5rem;
  --accent: var(--aui-link-color);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  overscroll-behavior: none;
}

.bg-accent {
  background-color: var(--accent);
}

.accent {
  color: var(--accent);
}

.accent-hover {
  transition: color var(--aui-default-transition);
}

.white {
  color: white;
}

.bordering {
  border: 2px solid orange;
}
