:root {
  --nav-text: white;
  --nav-padding: 5rem;
  --accent: #004fff;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus:not(:focus-visible) {
  outline: none !important;
}

a:focus-visible {
  outline: 2px solid var(--accent) !important;
  opacity: 1 !important;
}

.bg-accent {
  background-color: var(--accent);
}

.accent {
  color: var(--accent);
}

.accent-hover {
  transition: color 0.3s ease-in-out;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.bordering {
  border: 2px solid orange;
}
