:root {
  --nav-padding: 80px;
  --accent: var(--aui-link-color);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

section {
  padding: var(--nav-padding) var(--nav-padding) 0 var(--nav-padding);
}

.bg-accent {
  background-color: var(--accent);
}

.blur {
  backdrop-filter: blur(4px);
}
